@import "tailwindcss";




#root {
  height: 100vh;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #4880FF;
  --color-text-light: #000000;
  --color-text-dark: #FFFFFF;
  --color-primary-hover: #4277EF;
  --color-layout-light: #F5F6FA;
  --color-layout-dark: #1B2431;
  --color-items-light: #FFFFFF;
  --color-items-dark: #273142;
  --color-items-dark2: #343D4D;
  --color-lightgray: #E0E0E0;
  --color-midgray: #858585;
  --color-darkgray: #6b6b6b;


  --text-2xs: 9px;
  --text-md: 14px;


  --breakpoint-md-stats: 800px;
  --breakpoint-xs-stats: 500px;
  --breakpoint-2xs-stats: 390px;

}